* {
    font-family: 'Libre Baskerville', serif;
    font-weight: 300;
}

body {
    padding-top: 50px;
}

section {
    padding-top: 35px;
    padding-bottom: 15px;
    min-height: 95vh;
}

.navbar-brand {
    font-weight: 700;
}

.div-slider {
    padding-top: 15px;
    padding-bottom: 15px;
    background: url(../imgs/bgslider.png);
}

.background {
    background: whitesmoke;
}

.btn-service {
    margin-top: 100px;
}