* {
    font-family: 'Libre Baskerville', serif;
    font-weight: 300;
}

body {
    padding-top: 50px;
}

.navbar-brand {
    font-weight: 700;
}

.div-slider {
    padding-top: 15px;
    padding-bottom: 15px;
    background: url(../imgs/bgslider.png);
}
